* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Ubuntu, sans-serif;
  background-color: #f1f1f1; }

.title {
  font-family: Lora, serif;
  padding-top: 1em;
  margin-bottom: 2em; }

h1 {
  font-size: 55px;
  font-family: Lora, serif;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px; }

h2 {
  font-size: 30px;
  font-family: Ubuntu, sans-serif;
  color: #444f59; }

p {
  font-family: Ubuntu, sans-serif;
  color: #3e4149; }

ul {
  list-style-type: none; }

/* Header section*/
#header {
  height: 80vh;
  background: url(../assets/images/nav/jezero.JPG) fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.banner-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh; }

.banner-center {
  text-shadow: 2px 3px 4px black; }

/* Navbar */
.navbar {
  background: #3e4149;
  color: #FEFAEC;
  text-decoration: none;
  font-style: Lora, serif; }

.transparent {
  background: transparent; }

.nav-link {
  color: #FEFAEC !important;
  font-size: 20px;
  padding: 10px 10px 10px 10px; }

.navbar-brand {
  font-size: 35px; }

.navbar a:hover {
  color: #fd999a !important; }

/* End of Navbar */
/* END of Header section*/
/* Top post section */
#topPost {
  padding-bottom: 5em; }

#card-shadow {
  box-shadow: 2px 6px 17px #444f59;
  border: none; }

.card-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }

.img-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.col-md-6:hover .card-img {
  opacity: 0.3; }

.col-md-6:hover .img-middle {
  opacity: 1; }

.img-text {
  background-color: #fd999a;
  font-size: 16px;
  padding: 16px 32px; }

.img-text:hover {
  background-color: #fec8c9; }

.img-text a {
  text-decoration: none;
  color: white; }

.card-text a {
  color: #fd999a; }

/* End of Top post section */
/* Explore by country section */
#explore {
  background-color: #444f59;
  color: #FEFAEC !important; }

.accordion {
  width: 100%;
  max-width: 460px;
  background: #3e4149;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0; }

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #444f59;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.accordion li:last-child .link {
  border-bottom: 0; }

.accordion li svg {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.accordion li svg.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px; }

.accordion li.open .link {
  color: #FEFAEC; }

.accordion li.open svg {
  color: #FEFAEC; }

.accordion li.open svg.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.accordion li.default .submenu {
  display: block; }

/**
 * Submenu
 -----------------------------*/
.submenu {
  display: none;
  background: #FEFAEC;
  font-size: 14px;
  font-weight: bold; }

.submenu li {
  border-bottom: 1px solid #444f59; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #3e4149;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.submenu a:hover {
  background: #fd999a;
  color: #FEFAEC; }

#counter {
  border-top: 1px solid;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #444f59;
  margin-top: 30px; }

#counter h3 {
  font-size: 30px; }

#counter h4 {
  font-size: 20px; }

#count1 {
  background-color: #FEFAEC; }

#count2 {
  background-color: #fec8c9; }

#count3 {
  background-color: #fd999a; }

/* End of explore by country section */
/* Favorit post Section  */
#favoritPost {
  padding-bottom: 5em; }

/* End of favorit post section */
/* SOCIAL SECTION */
.owl-carousel {
  background-color: #fec8c9;
  padding-top: 40pt; }

/* End of Social section */
/* Footer section */
#footer {
  background: url("../assets/images/halstat.jpg");
  background-position: center;
  background-size: cover; }

#footer h2 {
  color: #FEFAEC;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 70px; }

#footer p {
  padding-bottom: 15px;
  color: #FEFAEC; }

.subs {
  background-color: #687887;
  border: none;
  color: #FEFAEC !important;
  opacity: 0.8;
  width: 45%;
  height: 45px;
  font-size: 15px;
  margin-bottom: 15px; }

::placeholder {
  color: #FEFAEC !important;
  letter-spacing: 2px;
  padding-left: 10px; }

.dugmence {
  color: #FEFAEC;
  background-color: #fd999a;
  border: none;
  margin-top: 20px;
  width: 28%;
  height: 45px;
  font-weight: bold;
  margin-bottom: 120px; }

.dugmence:hover {
  background-color: #fec8c9;
  color: #444f59;
  border: none; }

#footer .footer-icons a {
  font-size: 35px;
  color: #FEFAEC !important;
  margin-right: 35px; }

#footer .footer-icons a:hover {
  color: #fd999a !important; }

.copyrights h3 {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  color: #FEFAEC !important; }

/* End Of footer section */
/* ABOUT US PAGE  */
.about-welc {
  border-bottom: 3px solid #3e4149;
  display: inline-block;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: .135em;
  padding-bottom: .125em;
  text-transform: uppercase;
  margin-top: 40px; }

.about-message {
  font-weight: 400;
  line-height: 26px;
  color: #3e4149;
  margin-bottom: 30px; }

#about-text {
  margin-top: 10px;
  margin-bottom: 70px;
  border: none; }

/* TRAVEL TIPS PAGE */
.travel-tips .card {
  border: none; }

.travel-tips h3 {
  padding-bottom: 60px; }

/*# sourceMappingURL=style.css.map */
