body {
  font-family: Ubuntu, sans-serif; }

.title {
  font-family: Lora, serif;
  padding-top: 1em;
  margin-bottom: 2em; }

h1 {
  font-size: 55px;
  font-family: Lora, serif;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px; }

h2 {
  font-size: 30px;
  font-family: Ubuntu, sans-serif;
  color: #444f59; }

p {
  font-family: Ubuntu, sans-serif;
  color: #3e4149; }

/* Header section*/
#header {
  height: 80vh;
  background: url(../assets/images/nav/jezero.JPG) fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.banner-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh; }

.banner-center {
  text-shadow: 2px 3px 4px black; }

/* Navbar */
.navbar {
  background: #3e4149;
  color: #FEFAEC;
  text-decoration: none;
  font-style: Lora, serif; }

.transparent {
  background: transparent; }

.nav-link {
  color: #FEFAEC !important;
  font-size: 20px;
  padding: 10px 10px 10px 10px; }

.navbar-brand {
  font-size: 35px; }

.navbar a:hover {
  color: #fd999a !important; }

/* End of Navbar */
/* END of Header section*/
/* Top post section */
#topPost {
  padding-bottom: 5em; }

#card-shadow {
  box-shadow: 3px 3px 15px;
  border: none; }

/* End of Top post section */
/* Explore by country section */
#explore {
  background-color: #444f59;
  color: #FEFAEC !important; }

#chartdiv {
  width: 100%;
  height: 600px; }

#counter {
  border-top: 1px solid;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #444f59; }

#counter h3 {
  font-size: 30px; }

#counter h4 {
  font-size: 20px; }

#count1 {
  background-color: #FEFAEC; }

#count2 {
  background-color: #fec8c9; }

#count3 {
  background-color: #fd999a; }

/* End of explore by country section */
/* Favorit post Section  */
#favoritPost {
  padding-bottom: 5em; }

/* End of favorit post section */
/* SOCIAL SECTION */
.owl-carousel {
  background-color: #fec8c9;
  padding-top: 40pt; }

/* End of Social section */
/* Footer section */
#footer {
  background: url("../assets/images/halstat.jpg");
  height: 70vh;
  background-position: center;
  background-size: cover; }

#footer h2 {
  color: #FEFAEC;
  font-weight: bold;
  padding-top: 90px;
  padding-bottom: 15px; }

#footer p {
  padding-bottom: 15px;
  color: #FEFAEC; }

.subs {
  background-color: #687887;
  border: none;
  color: #FEFAEC !important;
  opacity: 0.8;
  width: 45%;
  height: 45px;
  font-size: 25px;
  margin-bottom: 15px; }

::placeholder {
  color: #FEFAEC !important;
  letter-spacing: 2px;
  padding-left: 10px; }

.dugmence {
  color: #FEFAEC;
  background-color: #fd999a;
  border: none;
  margin-top: 20px;
  width: 25%;
  height: 45px;
  margin-bottom: 130px;
  font-weight: bold; }

.dugmence:hover {
  background-color: #fec8c9;
  color: #444f59;
  border: none; }

#footer .footer-icons a {
  font-size: 35px;
  color: #FEFAEC !important;
  margin-right: 35px; }

#footer .footer-icons a:hover {
  color: #fd999a !important; }

.copyrights h3 {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  color: #FEFAEC !important; }

/* End Of footer section */
/* ABOUT US PAGE  */
#aboutUS {
  margin-top: 80px;
  margin-bottom: 80px; }

#aboutImg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

#aboutText {
  margin-top: 30px; }

/* End of Top post section */

/*# sourceMappingURL=style.css.map */
